/* 
    * Vertical Disco
    * Creado por: Ignacio Cabrera
*/

/* Common */
* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}
body {
    height: 100%;
    background-color: rgba(200, 200, 200);
    display: block;
}


/* LogIn Page */
#logInForm {
    background-color: rgb(254, 254, 254);
    border: 1px solid #ccc;
    width: 24vw;
    margin: 10vh auto;
    padding: 12px;
    box-sizing: border-box;
    overflow: hidden;
}

#logInForm h2 {
    text-align: center;
    margin-bottom: 0.8em;
    color: rgb(66, 112, 248);
}

#logInForm label,
#logInForm input {
    display: block;
    width: 100%;
}

#logInForm label {
    margin-top: 25px;
}

#logInForm input {
    line-height: 16px;
    border: 1px solid coral;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
}

#logInForm input:valid {
    border: 1px solid rgb(66, 112, 248);
}

#logInForm input:invalid {
    background-color: darksalmon;
    color: white;
}

#logInForm input:focus {
    outline: 5px solid rgb(66, 112, 248);
}

#logInForm input[type='submit'] {
    color: rgb(254, 254, 254);
    background-color: rgb(66, 112, 248);
    border-color: rgb(66, 112, 248);
    border-radius: 6px;
    font: 1.2em Verdana, Geneva, Tahoma, sans-serif;
    padding: 6px;
    display: block;
    margin-top: 0.8em;
    width: 5em;
    float: right;
    box-sizing: border-box;
}


/* Generic Second Wireframe */
/* HEADER */
header {
    background-color: rgb(0, 0, 0);
    padding: 0.4em;
    overflow: hidden;
}

/* Title */
header h1 {
    width: 94%;
    float: left;
    color: rgb(254, 254, 254);
}

/* Links */
header {
    position: fixed;
    width: 100%;
}

header span {
    width: 6%;
    float: left;
}

header span a {
    text-decoration: none;
    font-size: 2em;
    color: rgb(254, 254, 254);
}

header span a:last-child {
    margin-left: 12%;
}

/* Generic organizer */
.agrppal {
    overflow: hidden;
}


/* SIDEBAR NAV */
nav {
    margin-top: 3.1em;
    height: 95vh;
    background-color: rgb(120, 120, 120);
    width: 12%;
    float: left;
    position: fixed;
}

nav ul {
    width: 100%;
    list-style: none;
    padding-top: 2.6em;
}

nav ul li {
    width: 100%;
}

nav ul li a {
    text-decoration: none;
    padding: 1em 0 1em 2em;
    display: block;
    box-sizing: border-box;
    color: rgb(254, 254, 254);
    transition: 1s ease;
}

nav ul li a:hover {
    color: rgb(124, 2, 248);
    background-color: rgb(140, 140, 140);
    transition: 0.4s ease;
}


/* CONTENT */
.content {
    float: left;
    width: 80%;
    margin-left: 12%;
}

/* Path */
.content > p {
    margin: 2em auto auto 3em;
}

/* Title */
.content h1 {
    margin: 1em auto auto 1.5em;
}

.content div {
    margin: 2em auto auto 3em;
    overflow: hidden;
}


/* LISTADO PAGE */
/* Button Add */
.content > div a {
    float: left;
    text-decoration: none;
    background-color: rgb(66, 112, 248);
    color: rgb(254, 254, 254);
    padding: 0.6em 2em;
    border-radius: 4px;
}

/* Search */
.content > div input {
    float: left;
    margin-left: 74%;
    border: 1px solid rgb(2, 2, 2);
    line-height: 2.4em;
    padding-left: 0.4em;
}

.content > div input:focus {
    outline: 2px solid rgb(66, 112, 248);
}

.content > div span {
    float: left;
    padding: 0 0.2em;
    border-top: 1px solid rgb(2, 2, 2);
    border-right: 1px solid rgb(2, 2, 2);
    border-bottom: 1px solid rgb(2, 2, 2);
    line-height: 2em;
}

/* Data */
.content > section {
    border-top: 1px solid rgba(2, 2, 2, 0.4);
    border-left: 1px solid rgba(2, 2, 2, 0.4);
    border-right: 1px solid rgba(2, 2, 2, 0.4);

    margin-top: 3em;
    margin-left: 3em;
    padding: 1em;;
}

/* Table */
.content > section table {
    width: 100%;
    border-collapse: collapse;
}

.content > section table thead {
    border-bottom: 1px solid rgb(2, 2, 2);
}

.content > section table thead tr th {
    text-align: justify;
}

.content > section table tbody tr td {
    text-align: justify;
    padding: 1em 0;
    transition: 0.6s ease;
}

.content > section table tbody tr td a {
    text-decoration: none;
    color: rgb(66, 112, 248);
    font-size: 1.2em;
    margin-left: 1em;
    padding: 0.4em;
}

.content > section table tbody tr td a:first-child {
    margin: 0;
}

.content > section table tbody tr td a:hover {
    color: rgb(124, 2, 248);
}


/* PAGES */
#pages {
    text-align: right;
}

#pages a {
    text-decoration: none;
    color: rgb(66, 112, 248);
    font-size: 1.2em;
}

#pages a:first-child {
    font-weight: bold;
}

#pages a:hover {
    color: rgb(124, 2, 248);
}


/* DASHBOARD PAGE */
/* Mas buscados + Ultimos subidos */
#cent {
    float: left;
}

/* Mas buscados */
#mas-buscados {
    padding: 1em;
    border: 1px solid rgb(120, 120, 120);
}

#mas-buscados figure {
    float: left;
}

#mas-buscados figcaption img {
    float: left;
}

#mas-buscados figure figcaption {
    float: left;
}


/* Ultimos subidos */
#ultimos-subidos {
    float: left;
}

#ultimos-subidos figure img {
    float: left;
}

#ultimos-subidos figure figcaption {
    float: left;
}

#ultimos-subidos figure figcaption p {
    text-align: right;
}


/* Registro de usuarios */
#registro-usuarios {
    float: left;
}


/* Stock */
.agrppal aside {
    float: left;
}


/* Page Registro */
.content form {
    background-color: rgb(254, 254, 254);
    margin: 1em auto auto 3em;
}

.content > form > div {
    float: left;
}